<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Gemini ProQuiz</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto mb-2">
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/nadimnesar" target="_blank">Github</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.linkedin.com/in/nadimnesar" target="_blank">LinkedIn</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://t.me/nadimnesar" target="_blank"> Telegram</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://wa.me/+8801580585294" target="_blank"> Whatsapp</a>
                </li>
            </ul>
        </div>
    </div>
</nav>