<!DOCTYPE html>
<html lang="en">
<div th:insert="fragments/header.html :: header ('Gemini ProQuiz | Home')"></div>
<body>

<div th:insert="fragments/navbar.html :: navbar"></div>

<section style="padding-top: 10vh" class="container">
    <form class="d-flex justify-content-center" method="get" action="/quiz">
        <div class="input-group">
            <label class="input-group-text fw-bold" for="customTopic">Custom Topic:</label>
            <input id="customTopic" class="form-control" type="text" placeholder="Enter topic" name="topic">
        </div>
        <button class="btn btn-dark ms-3">Generate Quiz</button>
    </form>
</section>

<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <a href="/quiz?topic=Islamic+History" style="font-size: 24px; font-weight: bold; text-decoration: none;"
                   class="card text-center text-white bg-dark"> Islamic History </a>
            </div>
            <div class="col-md-4 mb-4">
                <a href="/quiz?topic=The+Noble+Quran" style="font-size: 24px; font-weight: bold; text-decoration: none;"
                   class="card text-center text-white bg-dark"> The Noble Quran </a>
            </div>
            <div class="col-md-4 mb-4">
                <a href="/quiz?topic=Prophet+Muhammad" style="font-size: 24px; font-weight: bold; text-decoration: none;"
                   class="card text-center text-white bg-dark"> Prophet Muhammad </a>
            </div>
            <div class="col-md-4 mb-4">
                <a href="/quiz?topic=Bangladesh" style="font-size: 24px; font-weight: bold; text-decoration: none;"
                   class="card text-center text-white bg-dark"> Bangladesh </a>
            </div>
            <div class="col-md-4 mb-4">
                <a href="/quiz?topic=World+History" style="font-size: 24px; font-weight: bold; text-decoration: none;"
                   class="card text-center text-white bg-dark"> World History </a>
            </div>
            <div class="col-md-4 mb-4">
                <a href="/quiz?topic=Cricket" style="font-size: 24px; font-weight: bold; text-decoration: none;"
                   class="card text-center text-white bg-dark"> Cricket </a>
            </div>
            <div class="col-md-4 mb-4">
                <a href="/quiz?topic=C+Plus+Plus" style="font-size: 24px; font-weight: bold; text-decoration: none;"
                   class="card text-center text-white bg-dark"> C++ </a>
            </div>
            <div class="col-md-4 mb-4">
                <a href="/quiz?topic=Competitive+Programming"
                   style="font-size: 24px; font-weight: bold; text-decoration: none;"
                   class="card text-center text-white bg-dark"> Competitive Programming </a>
            </div>
            <div class="col-md-4 mb-4">
                <a href="/quiz?topic=Java" style="font-size: 24px; font-weight: bold; text-decoration: none;"
                   class="card text-center text-white bg-dark"> Java </a>
            </div>
            <div class="col-md-4 mb-4">
                <a href="/quiz?topic=Spring+Boot" style="font-size: 24px; font-weight: bold; text-decoration: none;"
                   class="card text-center text-white bg-dark"> Spring Boot </a>
            </div>
            <div class="col-md-4 mb-4">
                <a href="/quiz?topic=Object+Oriented+Programming" style="font-size: 24px; font-weight: bold; text-decoration: none;"
                   class="card text-center text-white bg-dark"> OOP </a>
            </div>
            <div class="col-md-4 mb-4">
                <a href="/quiz?topic=Design+Pattern" style="font-size: 24px; font-weight: bold; text-decoration: none;"
                   class="card text-center text-white bg-dark"> Design Pattern </a>
            </div>
            <div class="col-md-4 mb-4">
                <a href="/quiz?topic=PostgreSQL" style="font-size: 24px; font-weight: bold; text-decoration: none;"
                   class="card text-center text-white bg-dark"> PostgreSQL </a>
            </div>
            <div class="col-md-4 mb-4">
                <a href="/quiz?topic=Python" style="font-size: 24px; font-weight: bold; text-decoration: none;"
                   class="card text-center text-white bg-dark"> Python </a>
            </div>
            <div class="col-md-4 mb-4">
                <a href="/quiz?topic=Machine+Learning"
                   style="font-size: 24px; font-weight: bold; text-decoration: none;"
                   class="card text-center text-white bg-dark"> Machine Learning </a>
            </div>
            <div class="col-md-4 mb-4">
                <a href="/quiz?topic=Mathematics" style="font-size: 24px; font-weight: bold; text-decoration: none;"
                   class="card text-center text-white bg-dark"> Mathematics </a>
            </div>
            <div class="col-md-4 mb-4">
                <a href="/quiz?topic=Physics" style="font-size: 24px; font-weight: bold; text-decoration: none;"
                   class="card text-center text-white bg-dark"> Physics </a>
            </div>
            <div class="col-md-4 mb-4">
                <a href="/quiz?topic=Chemistry" style="font-size: 24px; font-weight: bold; text-decoration: none;"
                   class="card text-center text-white bg-dark"> Chemistry </a>
            </div>
        </div>
    </div>
</section>

<div th:insert="fragments/footer.html :: footer"></div>
</body>
</html>