<!DOCTYPE html>
<html lang="en">
<div th:insert="fragments/header.html :: header ('Result Page')"></div>
<body>

<div th:insert="fragments/navbar.html :: navbar"></div>

<div class="main-container container py-5 px-4">
    <h1 class="bg-danger text-light">Only Select The Answers</h1>

    <form th:action="@{/submit}" method="post" th:object="${questionForm}">
        <div class="ques-box bg-dark text-light" th:each="ques, i : ${questionForm.getQuestionList()}">
            <p class="title text-danger" th:text="${ques.getQuestion()}"></p>

            <div class="option">
                <input type="radio" th:name="|questions[${i.index}].chosen|" th:value="a"/>
                <p th:text="${ques.optionA}"></p>
            </div>

            <div class="option">
                <input type="radio" th:name="|questions[${i.index}].chosen|" th:value="b"/>
                <p th:text="${ques.optionB}"></p>
            </div>

            <div class="option">
                <input type="radio" th:name="|questions[${i.index}].chosen|" th:value="c"/>
                <p th:text="${ques.optionC}"></p>
            </div>

            <div class="option">
                <input type="radio" th:name="|questions[${i.index}].chosen|" th:value="d"/>
                <p th:text="${ques.optionD}"></p>
            </div>

            <input type="hidden" th:name="|questions[${i.index}].id|" th:value="${i.index}"/>
            <input type="hidden" th:name="|questions[${i.index}].answer|" th:value="${ques.answer}"/>
        </div>
        <button type="submit" class="btn btn-danger d-block mx-auto mt-4">Submit Answer</button>
    </form>
</div>

<div th:insert="fragments/footer.html :: footer"></div>

</body>
</html>